.student-login {
    display: flex;
    flex-direction: row;
    border: none;
    margin: 40px 90px 60px 90px;
    margin-bottom: 100px;
    height: 80vh;
    box-shadow: 0 3px 8px rgba(34, 4, 90, 0.122);

}

.login-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.bg-img-container {
    flex: 1;
    background: url(/frontend/assets/images/bg.jpg) center/cover no-repeat;
    opacity: 0.6;
}

.login-container p, 
.login-container h2 {
    color: #47156c;
    font-family: "Inter", sans-serif;
}

.login-form-header{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.role-switch-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 0px 30px;
    border: 1px solid #321875;
    border-radius: 10px;
    gap: 15px;
}

.role-switch-container img {
    margin: 0;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.form-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.form-box .textbox input {
    width: 100%;
    padding: 14px 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: border-color .2s;
}

.form-box .textbox input:focus {
    border-color: #512BB2; 
}

.login-actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.login-actions button {
    width: 100%;
}